In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [13]:
df = pd.read_excel('./data/data.xlsx')
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

#### Airline , Source , Destination

In [14]:
encoder = OneHotEncoder()
encoded_df = pd.DataFrame(encoder.fit_transform(df[['Airline','Source','Destination']]).toarray(),columns=encoder.get_feature_names_out())

df = pd.concat([df,encoded_df],axis = 1)

df = df.drop(['Airline','Source','Destination'],axis = 1)

#### Date of Journey

In [21]:
df['Journey_date'] = df['Date_of_Journey'].str.split('/').str[0].astype(int)
df['Journey_month'] = df['Date_of_Journey'].str.split('/').str[1].astype(int)
df['Journey_year'] = df['Date_of_Journey'].str.split('/').str[2].astype(int)

In [23]:
df = df.drop(['Date_of_Journey'],axis = 1)
df.head(2)

,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Airline_Air Asia,Airline_Air India,Airline_GoAir,...,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Journey_date,Journey_month,Journey_year
0,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,24,3,2019
1,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,5,2019

#### Route

In [26]:
df = df.drop(['Route'],axis = 1)

In [27]:
df.head(1)

,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,...,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Journey_date,Journey_month,Journey_year
0,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,24,3,2019

#### Dep time

In [30]:
df['Dep_hour'] = df['Dep_Time'].str.split(':').str[0].astype(int)
df['Dep_min'] = df['Dep_Time'].str.split(':').str[1].astype(int)

In [31]:
df = df.drop(['Dep_Time'],axis = 1)
df.head(1)

,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,...,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Journey_date,Journey_month,Journey_year,Dep_hour,Dep_min
0,01:10 22 Mar,2h 50m,non-stop,No info,3897,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,24,3,2019,22,20

#### Arrival Time

In [32]:
df['Arrival_Time'].str.spli

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10683, dtype: object